<html>
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
</head>
<body>
<h2>Welcome to blog</h2>
  <form action ="/write">
    Title : <input type = "text" name = "title"><br>
    Content : <input type = "text" name = "content"><br>
    <input type = "submit">
  </form>
  <a href ="/show">Show article </a>
</body>
</html>
