<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
  </head>
    <body>
      <h2> List of article</h2>
      <% @list.each do |blog| %>
      <p><%= blog %></p>
      <% end %>
    </body>
  </html>
